<h1>Product List</h1>

<ul class="thumbnails">
<% @products.each do |product| %>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag("#{product.image}") %>
	  <h3><%= link_to product.name, product_path(product) %></h3>
	  <p>Gabbi's price: <%= number_to_currency(product.price, :unit => "£") %></p>
	  <%= form_tag cartitems_path(:product_id => product), :method => :post do %>
	    <%= hidden_field_tag(:product_id, product.id) %>
		<%= hidden_field_tag(:quantity, 1) %>
	    <input id='<%= "add_#{product.id}" %>' type="submit" name="submit" class="btn btn-primary" value="Add to cart"/>
	  <% end %>
    </div>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Product', new_product_path %>
