<p id="notice"><%= notice %></p>

<% if @product.nil? == false %>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= markdown @product.description %>
</p>

<p>
  <b>Image:</b>
  <%= @product.image %>
</p>

<p>
  <b>Size:</b>
  <%= @product.size %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |

<% end %>

<%= link_to 'Back', products_path %>
